.profile-info__icon {
  max-width: 24px;
  max-height: 24px;
  object-fit: contain;
  padding: 37px 0 0 18px;
}

@media screen and (max-width: 390px) {
  .profile-info__icon {
    max-width: 18px;
    max-height: 18px;
    padding: 34px 0 0 11px;
  }
}
