.popup__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 390px) {
  .popup__add {
    padding: 25px 22px;
  }
}
