.form__input {
  min-width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 24px 0 13px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  align-self: flex-start;
  box-sizing: border-box;
}

/*.form__item:last-of-type {
  margin-bottom: 48px;
}*/

@media screen and (max-width: 470px) {
  .form__input {
    min-width: 280px;
  }
}

@media screen and (max-width: 390px) {
  .form__input {
    min-width: 238px;
  }
}
