.form__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: #000;
  border: none;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form__close:hover {
  opacity: .6;
  transition: opacity .5s ease;
}

@media screen and (max-width: 555px) {
  .form__close {
    top: -36px;
    right: 0;
  }
}

@media screen and (max-width: 390px) {
  .form__close {
    width: 20px;
    height: 20px;
    background-size: 20px;
    padding: 0;
  }
}

