.profile-info__subtitle {
  max-width: 336px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 525px) {
  .profile-info__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  .profile-info__subtitle {
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
  }
}