.heart-button_activ {
  min-width: 22px;
  min-height: 19px;
  margin-top: 7px;
  padding: 0;
  border: none;
  background-image: url(../../../images/Heart-activ.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  cursor: pointer;
}
