.profile-info {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  padding: 0 0 17px;
}

@media screen and (max-width: 525px) {
  .profile-info {
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .profile-info {
    max-width: 286px;
    padding-bottom: 0;
  }
}
