.popup__item {
  /*max-width: 358px;*/
  min-width: 358px;
  border: 0;
  padding: 24px 0 13px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 470px) {
  .popup__item {
    min-width: 280px;
  }
}

@media screen and (max-width: 390px) {
  .popup__item {
    min-width: 238px;
  }
}