.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 390px) {
  .form__edit {
    padding: 25px 22px;
  }
}
