.submit-button {
  min-width: 358px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.submit-button:hover {
  opacity: .8;
  transition: opacity .5s ease;
}

@media screen and (max-width: 470px) {
  .submit-button {
    min-width: 250px;
  }
}

@media screen and (max-width: 390px) {
  .submit-button {
    min-width: 238px;
    padding: 14px 0 14px;
    font-size: 14px;
    line-height: 17px;
  }
}